@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Merriweather:wght@300&family=Poppins:wght@300&family=Redressed&display=swap');

:root
{
    --noir : #08091b;
    --bleu : #6486ac;
    --gris : #c0bfc4;
    --beige : #eedfc2;
}

section
{
    height: 1000px;
    text-align: start;
    background: var(--noir); 
   
}

h1
{
    text-align: end;
    font-family: 'Anton', sans-serif;
    padding-right: 5%;
    
}

p
{
    font-family: 'Anton', sans-serif;
    color: var(--beige);
    font-size: 1.5em;
}
