@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Merriweather:wght@300&family=Poppins:wght@300&family=Redressed&display=swap');

:root
{
    --bleu : #1d2c49;
    --orange : #fb5724;
}

section
{
    height: 1000px;
    text-align: start;
    background: var(--bleu); 
   
}

h1
{
    text-align: end;
    font-family: 'Anton', sans-serif;
    padding-right: 5%;
    
}

p
{
    font-family: 'Anton', sans-serif;
    color: var(--orange);
    font-size: 1.5em;
}
